##
##      .gitignore -- Specifies intentionally untracked files to ignore
##      ===============================================================
##
## See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
##

## ----------------------------------------------------------------------------
##  project specific files
## ----------------------------------------------------------------------------

build/
composer.lock
composer.phar
phpunit.xml
vendor/

!.travis.yml
